.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}

.login-card {
  width: 350px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-heading {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn.btn-login {
  width: 100%;
  background-color: #f44336;
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.btn.btn-login:hover {
  color: white;
  background-color: darkred;
}

.register-link {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: darkred !important;
}
