.search-input{
    text-align: center;
    width: 25%;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}